*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    align-content: center;
    align-items: center;
    padding-top: 20px;
}

.card {
    box-shadow: 0px 14px 20px 10px rgba(0, 0, 0, 0.36);
    padding-top: 25px;
    padding-bottom: 90px;
    width: 22%;
    height: 410px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.btn-cursor, .toggle-cursor {
    margin-top: 16px;
    border: none;
    border: 1px solid;
    border-radius: 4px;
    padding: 8px 16px;
    background-color: #43A2FF;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    transition: all .3s ease-in-out;
    outline: none;
}

.toggle-cursor:hover {
    border: 1px solid #43A2FF;
    color: #43A2FF;
    background-color: #fff;
    cursor: pointer;   
}

.background-salmon {
    background-color: salmon;
}

.btn-cursor:hover {
    border: 1px solid #43A2FF;
    color: #43A2FF;
    background-color: #fff;
    cursor: pointer;
}

.card:nth-child(4) .range-wrapper {
    background-color: inherit;
    border: 1px solid #a4a4a4;
    padding: 20px;
    margin: 0 auto;
    margin-top: 16px;
    width: 286px;
    height: 100%;
}

.box-color {
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    margin: 0 auto; 
    margin-bottom: 10px;
}

.red-box {
    background-color: red;
}

.green-box {
    background-color: green;
}

.blue-box {
    background-color: blue;
}

.range-color {
    margin-bottom: 20px;
}

.range-item:last-child .range-color {
    margin: 0;
}